<footer>
    <div class="f-container">
        <div class="f-icons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>

        <div class="company-name">
            <p>&copy; Wanderlust Private Limited</p>
            
        </div>

        <div class="policy">
            <a class="privacy" href="/privacy">Privacy Policy</a>
            <a href="/tearms">Tearms & Conditions</a>
        </div>
    </div>
</footer>